<input
    #input
    (keyup.enter)="enterUserName(input.value)"
    type="text"
/>

<h3>Select the font we'll use</h3>
<ul class ="dropdownInit">
    <option value="default">{{ActualFont}}</option>
    <li  *ngFor="let font of FontsList" class="dropdown-content">
    <button type="button" (click)="changeFont(font)" class="dropdownButton">
        <option>
            {{font}}
        </option>
    </button>
    </li>
</ul>


<input
    #input2
    [value]="40"
    (mouseup)="changeSize(input2.value)"
    type="number"
/>

<br>
<svg width="50" height="50" (click)="changeAlign(3)">
    <rect width="45" height="45" [class.selected]="ActualAlign === 3" [class.unselected]="ActualAlign != 3"/>
</svg> 

<svg width="50" height="50" (click)="changeAlign(2)">
    <rect width="45" height="45" [class.selected]="ActualAlign === 2" [class.unselected]="ActualAlign != 2"/>
</svg> 

<svg width="50" height="50" (click)="changeAlign(1)">
    <rect width="45" height="45" [class.selected]="ActualAlign === 1" [class.unselected]="ActualAlign != 1"/>
</svg> 


<p id="HelloNAME">Bonjour {{User}}</p>