<h2>Transaction list</h2>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">Id</th>
    <th mat-sort-header="amount">Amount</th>
    <th mat-sort-header="balance">Balance</th>
    <th mat-sort-header="label">Label</th>
    <th mat-sort-header="date">Date</th>
    <!--<th> Description </th>-->
  </tr>

  <tr
    *ngFor="let transaction of sortedData"
    class="content"
    [routerLink]="['/TransactionDetail', transaction.id]"
  >
    <td>{{transaction.id}}</td>
    <td>{{transaction.amount}}</td>
    <td>{{transaction.balance}}</td>
    <td>{{transaction.label}}</td>
    <td>{{transaction.date}}</td>
    <!--<td>{{ transaction.description }}</td>-->
  </tr>
</table>

<!-- test
<table matSort (matSortChange)="sortDataT($event)">
  <tr>
    <th mat-sort-header="name">Dessert (100g)</th>
    <th mat-sort-header="calories">Calories</th>
    <th mat-sort-header="fat">Fat (g)</th>
    <th mat-sort-header="carbs">Carbs (g)</th>
    <th mat-sort-header="protein">Protein (g)</th>
  </tr>

  <tr *ngFor="let dessert of sortedDataT">
    <td>{{dessert.name}}</td>
    <td>{{dessert.calories}}</td>
    <td>{{dessert.fat}}</td>
    <td>{{dessert.carbs}}</td>
    <td>{{dessert.protein}}</td>
  </tr>
</table>
-->
